.header {
  top: 0;
  position: sticky;
  background-color: #225fbf;
  height: 68px;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  z-index: 1;
  box-shadow: inset 0px -4px #1753B3;
}

.header__body {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding-left: 15.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  cursor: pointer;
  border: none;
  word-spacing: -3px;
}

.header__logo h1 {
  color: white;
  font-size: 10.2pt;
  letter-spacing: 1.2px;
}

.header__logo h5 {
  color: #ccdfff;
  font-size: 7pt;
  letter-spacing: 1.15px;
  font-weight: 400;
  word-spacing: 0px;
}

.header__user-panel {
  width: 235px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
}

.header__item {
  background-color: #1753b3;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.2s;
}

.vector-img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.exit-img {
  height: 14px;
  width: 14px;
  cursor: pointer;
}

.header__user {
  background-color: #1753b3;
  width: 124px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 12px;
  h2 {
    display: flex;
    text-align: center;
    color: white;
    font-size: 6.8pt;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 20px;
    word-spacing: -2px;
  }
  img {
    height: 28px;
    width: 28px;
    border-radius: 25px;
  }
}

.tabs {
  padding-left: 15px;
  display: flex;
  color: white;
  width: 243px;
  justify-content: space-between;
  .tabs__element {
    font-size: 13px;
    text-decoration: none;
    transition: 0.3s;
    border: none;
    color: rgba(246, 248, 253, 0.3);
    cursor: pointer;
    padding-top: 3px;
    display: flex;
    align-items: center;
    padding: 0 4px;
  }

  .active {
    color: white;
    cursor: pointer;
    padding-top: 3px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #5495ff;
    
  }
}
