.main {
    display: flex;
    justify-content: center;
    background-color: #F6F8FD;
    height: 100vh;
}

.main-wrapper {
    width: 1220px;
    display: flex;
}

.select-container {
    display: flex;
    flex-direction: column;
}