.request {
  width: 623px;
  height: 79px;
  display: flex;
  justify-content: space-between;
  padding: 0 26px;
  padding-top: 15px;
  .request__block {
    display: flex;
  }
  .arrow {
    margin-top: 5px;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
  .request__logo {
    width: 50px;
    height: 50px;
  }
  .request__inf {
    padding-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62px;
    p {
      font-size: 12px;
      letter-spacing: -0.4px;
      margin-bottom: 4px;
    }
    b {
      letter-spacing: -0.63px;
      display: flex;
    }
    .request__state {
      margin-top: 3px;
      letter-spacing: 0.2px;
      font-style: italic;
      color: #3fad44;
    }
  }
}

.shadow {
  background-color: #f6f8fd;
}
.light {
  background-color: white;
}
